# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Carthage
Carthage/Build/

# Archives
*.xcarchive

# Other
*.ipa
*.dSYM.zip
*.dSYM
